body {
  background-image: url("/low-poly-grid-haikei.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  touch-action: manipulation;
}

button,
.questionTitle,
.marker {
  touch-action: none;
}
